<div class="author">
    <h1 class="author__heading">Hi, I am OM</h1>
    <p class="author__body">Web Developer.</p>
</div>

<img src="./img/hero-image.jpg" alt="portrait image" class="hero-image" width="300" height="300">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="articles-ul">
        
        <% data.forEach(post => { %>

        <li>
            <a href="#">
                <span><%= post.title %></span>
                <span class="articles-list__date"><%= post.createdAt %></span>
            </a>
        </li>
         
        <% }) %>
        
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>